<% include layout %>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/admin">管理首页</a></li>
        <li>用户列表</li>
    </ol>

    <h3>用户列表</h3>

    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>是否是管理员</th>
        </tr>
        <% users.forEach(function (t) { %>
        <tr>
            <td><%= t._id %></td>
            <td><%= t.username %></td>
            <td><%= t.password %></td>
            <td>
                <% if(t.isAdmin){ %>
                是
                <% } %>
            </td>
        </tr>
        <% }) %>
    </table>
    <% include page %>
</div>