<nav>
    <div class="menu">
        <% if(categoryid == ''){ %>
        <a href="/" class="focus">扶뒬못</a>
        <% }else{ %>
        <a href="/">扶뒬못</a>
        <% } %>

        <% category.forEach(function (t) { %>
        <% if (categoryid == t._id) { %>
        <a href="/?categoryid=<%= t._id %>" class="focus"><%= t.name %></a>
        <% }else{ %>
        <a href="/?categoryid=<%= t._id %>"><%= t.name %></a>
        <% } %>
        <% }) %>
    </div>
</nav>